<h1>All Workouts for <%= current_user.full_name %></h1>

<table>
  <tr>
    <th>Date</th>
    <th>Total Distance (miles)</th>
    <th>Total Active Time (min)</th>
    <th>Total Elapsed Time (min)</th>
    <th>Average Speed (mph)</th>
  </tr>
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= link_to workout.created_datetime, workout_path(workout) %></td>
      <td><%= workout.total_distance_in_miles %></td>
      <td><%= workout.active_time_in_minutes %></td>
      <td><%= workout.elapsed_time_in_minutes %></td>
      <td><%= workout.average_speed_in_miles_per_hour %></td>
    </tr>
  <% end %>
</table>
